.mainContainer {
    background-image: url('../../images/optional.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 86vh;
    height: auto;
}

.gamesContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    z-index: 1 !important;
}

.pagination {  
    align-self: flex-end;
}

.noGames {
    background-image: url('../../images/no-games.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 86vh;
}
.noGames h1 {
    font-size: 3rem;
    margin: 0px;
    position: relative;
    top: 150px;
    color: white
}
